
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*FUENTE QUE SE USA EN TODA LA WEB*/
body{
    
    font-family: 'Roboto Mono', monospace;
}

/* CAMBIANDO EL ANCHO,COLOR DE LETRA DEL HEADER */

.header {
    width: 100%;
    background-color: black;
    color: #EDF2F4;
    height: 150px;
    padding: 1 rem;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navegacion {
    width: 100%;
    padding: 3rem;
}

.navegacion__lista {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem;
    
}

.navegacion__enlace{
    color: #EDF2F4;
}


/* CAMBIANDO EL ANCHO,COLOR DE LETRA DEL FOOTER */

.footer {
    width: 100%;
    background-color: black;
    display: flex;
    color: #EDF2F4;
    height: 120px;
    align-items: center;
    padding: 1rem;
    justify-content: space-between;
}

/*LE SACO LAS VIÑETAS A LA BARRA DE NAVEGACION INICIO NOSOTROS MENU GALERIA CONTACTO 
Y ADEMAS AGREGO LAS VIÑETAS QUE USO EN LA SECCION MENU, LA BARRA DE NAVEGACION QUEDA 
SIN SUBRAYAR SELECTOR DE ETIQUETA*/

a {text-decoration: none ;}

header nav ul {list-style-type: none ;}

ul {list-style-position: inside;
    list-style-type: square;
}


            /*USANDO METODOLOGIA BEM Y CAMELCASE*/

            /* PAGINA PRINCIPAL -- INDEX.HTML" */

/*SECCION 1*/

/* SECCION 1 CONTENIDO VIDEO */

.seccionUno {
    background-color: #EDF2F4;
    display: flex;
    width: 100%;
    height: 75vh;
}

.seccionUno__video{
    width: 100%;
    height: 75vh;
    object-fit: cover;
}

/*SECCION 2*/

/*AGREGO UN FONDO A LA SECCION 2 DE CONTENIDO DEL MAIN  */

/*DECORO EL TITULO , COLOR, TAMAÑO, CURSIVA, ALINEACION
  UTILIZO GRID PARA LA SECCION 2 */

.seccionDosgridpadre{
    background-color: #EDF2F4;
    padding: 1rem;
    min-height: 700px;
    display: grid;
    grid-template-columns:  50% 50%;
    grid-template-rows: 100px 450px;
    grid-template-areas: 
    "item1 item3"
    "item2 item3";
    justify-content: center;
    align-content: center;
}
.gridhijo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.grid__item--1{
    grid-area: item1;
}
.grid__item--2{
    grid-area: item2;
}
.grid__item--3{
    grid-area: item3;
}

/*DECORAR LA IMAGEN */
.seccionDos__imagenInicio{
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 50px;
    padding: 8px;
}
/*DECORAR EL TITULO */
.seccionDos__titulo {
    color: black;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    text-align: center;
    padding: 30px;
}

/*DECORO EL PARRAFO INCLUYENDOLE JUSTIFICACION E INTERLINEADO*/

.seccionDos__parrafo {
    text-align: center;
    line-height: 2;
    font-weight: 300;
    width: 100%;
    padding: 30px;
    position: relative;
}


/* SECCION 3 TARJETAS DE BARCO, SUSHIPIZZA, ROLL, HORARIOS, DELIVERY, CARTA */

.seccionTres{
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 55vh;
    color: black;
}
.gridsec3{

    border-radius: 50px;
    width: 150px;
    height: 170px;
    background-color: #EDF2F4;
    text-align: center;
} 

.tarjeta__imagen{
    border-radius: 100px;
    margin: 1rem;
}

.tarjeta__titulo{
    color: black;
    font-size: 20px;
    text-align: center;
}


            /* PAGINA SECUNDARIA -- NOSOTROS*/


/* SECCION 1 -- TITULO, IMAGEN Y TEXTO */

.sec1titulo{
    color: black;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    text-align: center;
    margin: 64px;
    background-color: #EDF2F4
}

.secUno{
    background-color: #EDF2F4;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.secUno__img{
    padding: 100px;
    width: 50%;
}
.secUno__imgimg{
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.secUno__preg{
    padding: 100px;
    text-align: center;
    font-size: 25px;
    width: 50%;
    line-height: 1.5;
}
.secUno__title{
    background-color: black;
    color:#EDF2F4;
    text-align: center; 
}

/* SECCION 2 --  UBICACION LOCAL1, LOCAL2 */

.secDos{
    background-color: #EDF2F4;
    display: flex;
    width: 100%;
    height: 100vh;
}
.secDos__pinta1{
    width: 50%;
    padding: 100px;
}
.secDos__pinta2{
    width: 50%;
    padding: 100px;
}
.secUno_iframe{
    width: 100%;
    height: 93%;
}

            /* PAGINA SECUNDARIA  MENU */

.menu{
    background-image: url(../imagenes/fondo--madera-blanca.webp);
    width: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: repeat;
    font-weight: 400;
}

.menu__menu{
    display: flex;
    flex-direction: column;
    justify-content: center;  
    
}

.menu__titulo1{
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    margin: 2rem;
}

        /* COMENTÉ ESTA SECCION(.menu__box1) PARA VER COMO QUEDABA SIN BORDES
        Y ME GUSTO, PERO DE TODAS MANERAS LO DEJE POR SI EN ALGUN 
        MOMENTO CAMBIO DE IDEA O DE FONDO*/

.menu__box1{
    border-style: double;
    background-color: black;
    color: #EDF2F4;
    width: 70%; 
    text-align: center;
    padding: 1rem;
    margin: 20px;
    margin-left: 200px;
}

.menu__titulo2{
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    margin: 2rem;
}

            /* PAGINA SECUNDARIA -- GALERIA */

            /* APLICAR GRIDS */

.secciongaleria{
    background-color: black;
    color:#EDF2F4;
    text-align: center;
    font-size: 50px;

}
            /* ROLL*/
.rollsgrid{
    
    min-height: 100px;
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    display: grid;
    
    grid-template-columns: repeat(3, 33.3%); 
    grid-template-rows: repeat(12, 350px); 

    grid-template-areas: 
        "ele1 ele2 ele3"
        "ele1 ele2 ele3"
        "ele4 ele5 ele6"
        "ele4 ele5 ele6"
        "ele7 ele8 ele9"
        "ele7 ele8 ele9"
        "ele10 ele11 ele13"
        "ele10 ele11 ele13"
        "ele14 ele15 ele16"
        "ele14 ele15 ele16"
        "ele17 ele18 ele19"
        "ele17 ele18 ele19";

    justify-content: center;
    align-content: center;
    gap: 1rem;
}

.rollsgrid__hijo{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.rollsgrid__img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top center;
    
}

.grid__hijo--1{
    grid-area: ele1;
}
.grid__hijo--2{
    grid-area: ele2;
}
.grid__hijo--3{
    grid-area: ele3;
}
.grid__hijo--4{
    grid-area: ele4;
}
.grid__hijo--5{
    grid-area: ele5;
}
.grid__hijo--6{
    grid-area: ele6;
}
.grid__hijo--7{
    grid-area: ele7;
}
.grid__hijo--8{
    grid-area: ele8;
}
.grid__hijo--9{
    grid-area: ele9;
}
.grid__hijo--10{
    grid-area: ele10;
}
.grid__hijo--11{
    grid-area: ele11;
}
.grid__hijo--12{
    grid-area: ele12;
}
.grid__hijo--13{
    grid-area: ele13;
}
.grid__hijo--14{
    grid-area: ele14;
}
.grid__hijo--15{
    grid-area: ele15;
}
.grid__hijo--16{
    grid-area: ele16;
}
.grid__hijo--17{
    grid-area: ele18;
}
.grid__hijo--18{
    grid-area: ele17;
}
.grid__hijo--19{
    grid-area: ele19;
}

        /* SUSHIPIZZA*/

.sushigrid{
    min-height: 100px;
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    display: grid;
    
    grid-template-columns: repeat(4, 24%); 
    grid-template-rows: repeat(2, 350px); 
    grid-template-areas: 

        "elee1 elee2 elee3 elee4"
        "elee1 elee2 elee3 elee4";

    justify-content: center;
    align-content: center;
    gap: 1rem;
}

.sushigrid__hijo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sushigrid__img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top center;
}

.grids__hijo--1{
    grid-area: elee1;
}
.grids__hijo--2{
    grid-area: elee2;
}
.grids__hijo--3{
    grid-area: elee3;
}
.grids__hijo--4{
    grid-area: elee4;
}

        /* BARCO*/
.barcogrid{
    min-height: 100px;
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    display: grid;
    
    grid-template-columns: repeat(2, 48%); 
    grid-template-rows: repeat(2, 350px); 
    grid-template-areas: 

        "item1 item2"
        "item1 item2";

    justify-content: center;
    align-content: center;
    gap: 1rem;
}

.barcogrid__hijo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.barcogrid__img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    
}

.gri__hijo--1{
    grid-area: item1;
}
.gri__hijo--2{
    grid-area: item2;
}



            /* PAGINA SECUNDARIA -- CONTACTO */



.ladoleftright{
    display: flex;
    background-color: #EDF2F4;
    width: 100%;
    height: 85vh;
    align-items: center;
    
}

.ladoleft{
    width: 50%;
    padding: 100px;
}
.ladoleft__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.ladoright{
    width: 50%;
    padding: 100px;
}

.secc_imagen{
    width: 100%;
    height: 65vh;
}

.imagen{
    width: 100%;
    height: 65vh;
    object-fit: cover;
}


                /*----ANIMACIONES, TRANSFORMACIONES, TRANSICIONES----*/


                /*INDEX -- PAGINA PRINCIPAL*/

                /*SECCION 3 TARJETAS*/
.efecto {
        transition: all .5s ease-in-out;
        color: black;
}
.efecto:hover {
    border-radius:50%;
    -webkit-border-radius:50%;
    box-shadow: 0px 0px 15px 15px #ec731e;
    -webkit-box-shadow: 0px 0px 15px 15px #ec731e;
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    }

                

                /*GALERIA -- ROLLS SUSHIPIZZA BARCO*/
.imagen-filtro {
  transition: all 0.4s ease;
}
.imagen-filtro:hover {
  -webkit-filter: grayscale(100%); 
    filter: grayscale(100%);
}


                /* MEDIA QUERIES */


                /*VISTAS TABLET*/

@media screen and (max-width: 1024px) {

                /* ----INDEX PAGINAL PRINCIPAL---- */

           /*SECCION 2 */
           
.seccionDosgridpadre{
    display: grid;
    grid-template-columns:  100% ;
    grid-template-rows: 100px 1fr 550px;
    grid-template-areas: 
    "item1 "
    "item2 "
    "item3 ";
}

            /*SECCION 3 TARJETAS*/


.seccionTres{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 55vh;
}
.gridsec3{

    border-radius: 30px;
    width: 120px;
    height: 150px;
    text-align: center;
} 

.tarjeta__titulo{
    color: black;
    font-size: 15px;
    text-align: center;
}


            /* ---- GALERIA ---- */

.sushigrid{
    display: grid;
    
    grid-template-columns: repeat(2, 50%); 
    grid-template-rows: repeat(2, 600px); 
    grid-template-areas: 

        "elee1 elee2"
        "elee3 elee4";
}
            /* ---- MENU ---- */
    

.menu__menu{
    padding: 1rem; 
    
}

.menu__box1{
    width: 65%; 
    text-align: center;
    margin-left: 20%;
    margin-right: 25%;
}

.menu__titulo1{
    text-align: center;
    margin-left: 10rem;
    margin-right: 10rem;
}
.menu__titulo2{
    text-align: center;
    margin-left: 10rem;
    margin-right: 10rem;
}

                /* PAGINA SECUNDARIA -- NOSOTROS*/


/* SECCION 1 -- TITULO, IMAGEN Y TEXTO */

.secUno{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.secUno__img{
    width: 100%;
    padding: 1rem;
}
.secUno__preg{
    padding: 1rem;
    width: 100%;
}

/* SECCION 2 --  UBICACION LOCAL1, LOCAL2 */

.secDos{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 1rem;
    height: 100vh;
}
.secDos__pinta1{
    padding: 0rem;
    border-style: solid;
    width: 100%;
}
.secDos__pinta2{
    padding: 0rem;
    border-style: solid;
    object-fit: cover;
    width: 100%;
}
.secUno_iframe{
    width: 100%;
    height: 93%;
}

            /* ---PAGINA CONTACTO--- */
.ladoleft{
    width: 50%;
    padding: 0rem;
}
.ladoleft__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

}

                /*VISTA MOBILE*/

@media screen and (max-width: 600px) {

                /* ----INDEX PAGINAL PRINCIPAL---- */
.header{
    flex-direction: column;
    justify-content: center;
    padding-top: 3rem;
}
.navegacion__lista{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: 10px;
}
.footer {
    display: flex;
    flex-direction: column;
    height: 150px;
    align-items: center;
    padding: 3rem;
    justify-content: center;
    font-size: small;
}


            /*SECCION 2 */
.seccionDosgridpadre{
    background-color: #EDF2F4;
    padding: 1rem;
    min-height: 700px;
    display: grid;
    grid-template-columns:  100% ;
    grid-template-rows: 100px 1fr 350px;
    grid-template-areas: 
    "item1"
    "item2"
    "item3";
    justify-content: center;
    align-content: center;
}
.gridhijo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.grid__item--1{
    grid-area: item1;
}
.grid__item--2{
    grid-area: item2;
}
.grid__item--3{
    grid-area: item3;
}

.seccionDos__imagenInicio{
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 50px;
    padding: 2px;
}

.seccionDos__titulo {
    color: black;
    font-size: 20px;
    font-style: normal;
    text-align: center;
   
}
.seccionDos__parrafo {
    text-align: center;
    width: 100%;
    font-size: small;
    
}

            /*SECCION 3*/

    /*PREGUNTAR COMO SACAR EL ESPACIO ENTRE LAS TARJETAS*/
        
.seccionTres{
    display: grid;
    height: 100vh;
    width: 100%;
    padding-left: 4%;
    padding-top: 4%;
    padding-bottom: 4%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
    "el1 el2"
    "el3 el4"
    "el5 el6";
    
    gap: 1rem;
    justify-items: center;
}
.gridsec3{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    width: 120px;
    height: 130px;
    background-color: #EDF2F4;
} 
.tarjeta__imagen{
    margin: 0rem;
}
.gridsec3_hijo1{
    grid-area: el1;
}
.gridsec3_hijo2{
    grid-area: el2;
}
.gridsec3_hijo3{
    grid-area: el3;
}
.gridsec3_hijo4{
    grid-area: el4;
}
.gridsec3_hijo5{
    grid-area: el5;
}
.gridsec3_hijo6{
    grid-area: el6;
}

.tarjeta__imagen{
    width: 50px;
    height: 60px;
    
}

.tarjeta__titulo{
    font-size: 15px;
    text-align: center;
    
}

                /* ---- GALERIA ---- */

        /*SECCION ROLLS*/

.rollsgrid{

    display: grid;
    
    grid-template-columns: repeat(1, 100%); 
    grid-template-rows: repeat(19, 1fr); 

    grid-template-areas: 
        "ele1"
        "ele2"
        "ele3"
        "ele4"
        "ele5"
        "ele6"
        "ele7"
        "ele8"
        "ele9"
        "ele10"
        "ele11"
        "ele12"
        "ele13"
        "ele14"
        "ele15"
        "ele16"
        "ele17"
        "ele18"
        "ele19";
}
.secciongaleria{
    font-size: 30px;
}

.rollsgrid__hijo{
    border-style: double;
    border-color: #EDF2F4;
}

.grid__hijo--17{
    grid-area: ele17;
}
.grid__hijo--18{
    grid-area: ele18;
}

        /* SUSHIPIZZA*/

.sushigrid{
    display: grid;
    
    grid-template-columns: repeat(1, 100%); 
    grid-template-rows: repeat(4, 1fr); 
    grid-template-areas: 

        "elee1"
        "elee2"
        "elee3"
        "elee4";
}

.sushigrid__hijo{
    border-style: double;
    border-color: #EDF2F4;
}

        /*BARCO*/
.barcogrid{
    display: grid;
    
    grid-template-columns: repeat(1, 100%); 
    grid-template-rows: repeat(2, 1fr); 
    grid-template-areas: 

        "item1"
        "item2";

}

.barcogrid__hijo{
    border-style: double;
    border-color: #EDF2F4;
}

                /* ---- MENU ---- */
    
.menu{
    font-weight: 400;
}

.menu__menu{
    padding: 1rem; 
    padding-top: 1rem;
    
}

.menu__box1{
    width: 100%; 
    text-align: center;
    margin: 0rem;
    padding: 1rem;
}
.menu__titulo1{
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    margin: 2rem;
    padding-top: 1rem;
}
.menu__titulo2{
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    margin: 2rem;
}

                /* PAGINA SECUNDARIA -- NOSOTROS*/


/* SECCION 1 -- TITULO, IMAGEN Y TEXTO */

.sec1titulo{
    font-size: 25px;
    margin: 0rem;
    padding-top: 1rem;
}

.secUno{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
}

.secUno__img{
    padding-top: 2rem;
    width: 100%;
    height: 100%;
    padding: 0rem;
}
.secUno__imgimg{
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.secUno__preg{
    text-align: center;
    font-size: 15px;
    width: 100%;
    line-height: 1.5;
    padding-top: 1rem;
    padding-bottom: 0rem;
}

/* SECCION 2 --  UBICACION LOCAL1, LOCAL2 */

.secDos{
    background-color: #EDF2F4;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 150vh;
}
.secDos__pinta1{
    width: 100%;
    height: 100vh;
    padding: 0rem;
    padding-top: 1.5rem;
}
.secDos__pinta2{
    width: 100%;
    height: 100vh;
    padding: 0rem;
    padding-top: 1.5rem;
}
.secUno_iframe{
    width: 100%;
    height: 80%;
}

           /* PAGINA SECUNDARIA -- CONTACTO */


.ladoleftright{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 160vh;
    align-items: center;
    padding: 0rem;
}
.ladoleft{
    width: 100%;
    padding: 0rem;
}
.ladoleft__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.ladoright{
    width: 100%;
    height: 50vh;
    padding: 0rem;
    padding-top: 1rem;
}
.secc_imagen{
    width: 100%;
    max-height: 50vh;
}

.imagen{
    width: 100%;
    max-height: 50vh;
    object-fit: cover;
}


}
    
    


