@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*FUENTE QUE SE USA EN TODA LA WEB*/
body {
  font-family: 'Roboto Mono', monospace;
}

/*LE SACO LAS VIÑETAS A LA BARRA DE NAVEGACION INICIO NOSOTROS MENU GALERIA CONTACTO 
Y ADEMAS AGREGO LAS VIÑETAS QUE USO EN LA SECCION MENU, LA BARRA DE NAVEGACION QUEDA 
SIN SUBRAYAR SELECTOR DE ETIQUETA*/
a {
  text-decoration: none;
}

header nav ul {
  list-style-type: none;
}

ul {
  list-style-position: inside;
  list-style-type: square;
}

/* SECCION 1 */
.seccionUno {
  background-color: #EDF2F4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 75vh;
}

.seccionUno .seccionUno__video {
  width: 100%;
  height: 75vh;
  -o-object-fit: cover;
     object-fit: cover;
}

/* SECCION 2 */
.seccionDosgridpadre {
  background-color: #EDF2F4;
  padding: 1rem;
  min-height: 700px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  -ms-grid-rows: 100px 450px;
      grid-template-rows: 100px 450px;
      grid-template-areas: "item1 item3" "item2 item3";
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.gridhijo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.grid__item--1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: item1;
}

.grid__item--2 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: item2;
}

.grid__item--3 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: item3;
}

/*DECORAR LA IMAGEN */
.seccionDos__imagenInicio {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 50px;
  padding: 8px;
}

/*DECORAR EL TITULO */
.seccionDos__titulo {
  color: black;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  text-align: center;
  padding: 30px;
}

/*DECORO EL PARRAFO INCLUYENDOLE JUSTIFICACION E INTERLINEADO*/
.seccionDos__parrafo {
  text-align: center;
  line-height: 2;
  font-weight: 300;
  width: 100%;
  padding: 30px;
  position: relative;
}

/*SECCION 3 TARJETAS*/
.seccionTres {
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 55vh;
  color: black;
}

.gridsec3 {
  border-radius: 50px;
  width: 150px;
  height: 170px;
  background-color: #EDF2F4;
  text-align: center;
}

.tarjeta__imagen {
  border-radius: 100px;
  margin: 1rem;
}

.tarjeta__titulo {
  color: black;
  font-size: 20px;
  text-align: center;
}

/*SECCION 3 TARJETAS EFECTOS */
.efecto {
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  color: black;
}

.efecto:hover {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  box-shadow: 0px 0px 15px 15px #ec731e;
  -webkit-box-shadow: 0px 0px 15px 15px #ec731e;
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
}

/* SECCION 1 -- TITULO, IMAGEN Y TEXTO */
.sec1titulo {
  color: black;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  text-align: center;
  margin: 64px;
  background-color: #EDF2F4;
}

.secUno {
  background-color: #EDF2F4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
}

.secUno__img {
  padding: 100px;
  width: 50%;
}

.secUno__imgimg {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
}

.secUno__preg {
  padding: 100px;
  text-align: center;
  font-size: 25px;
  width: 50%;
  line-height: 1.5;
}

.secUno__title {
  background-color: black;
  color: #EDF2F4;
  text-align: center;
}

/* SECCION 2 --  UBICACION LOCAL1, LOCAL2 */
.secDos {
  background-color: #EDF2F4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100vh;
}

.secDos__pinta1 {
  width: 50%;
  padding: 100px;
}

.secDos__pinta2 {
  width: 50%;
  padding: 100px;
}

.secUno__iframe {
  width: 100%;
  height: 93%;
}

.menu {
  background-image: url(../imagenes/fondo--madera-blanca.webp);
  width: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: repeat;
  font-weight: 400;
}

.menu__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu__titulo1 {
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  margin: 2rem;
}

.menu__box1 {
  border-style: double;
  background-color: black;
  color: #EDF2F4;
  width: 70%;
  text-align: center;
  padding: 1rem;
  margin: 20px;
  margin-left: 200px;
}

.menu__titulo2 {
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  margin: 2rem;
}

/* APLICAR GRIDS */
.secciongaleria {
  background-color: black;
  color: #EDF2F4;
  text-align: center;
  font-size: 50px;
}

/* ROLL*/
.rollsgrid {
  min-height: 100px;
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (33.3%)[3];
      grid-template-columns: repeat(3, 33.3%);
  -ms-grid-rows: (350px)[12];
      grid-template-rows: repeat(12, 350px);
      grid-template-areas: "ele1 ele2 ele3" "ele1 ele2 ele3" "ele4 ele5 ele6" "ele4 ele5 ele6" "ele7 ele8 ele9" "ele7 ele8 ele9" "ele10 ele11 ele13" "ele10 ele11 ele13" "ele14 ele15 ele16" "ele14 ele15 ele16" "ele17 ele18 ele19" "ele17 ele18 ele19";
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  gap: 1rem;
}

.rollsgrid__hijo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.rollsgrid__img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top center;
     object-position: top center;
}

.grid__hijo--1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: ele1;
}

.grid__hijo--2 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: ele2;
}

.grid__hijo--3 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  grid-area: ele3;
}

.grid__hijo--4 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: ele4;
}

.grid__hijo--5 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: ele5;
}

.grid__hijo--6 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  grid-area: ele6;
}

.grid__hijo--7 {
  -ms-grid-row: 5;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: ele7;
}

.grid__hijo--8 {
  -ms-grid-row: 5;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: ele8;
}

.grid__hijo--9 {
  -ms-grid-row: 5;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  grid-area: ele9;
}

.grid__hijo--10 {
  -ms-grid-row: 7;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: ele10;
}

.grid__hijo--11 {
  -ms-grid-row: 7;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: ele11;
}

.grid__hijo--12 {
  grid-area: ele12;
}

.grid__hijo--13 {
  -ms-grid-row: 7;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  grid-area: ele13;
}

.grid__hijo--14 {
  -ms-grid-row: 9;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: ele14;
}

.grid__hijo--15 {
  -ms-grid-row: 9;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: ele15;
}

.grid__hijo--16 {
  -ms-grid-row: 9;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  grid-area: ele16;
}

.grid__hijo--17 {
  -ms-grid-row: 11;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: ele18;
}

.grid__hijo--18 {
  -ms-grid-row: 11;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: ele17;
}

.grid__hijo--19 {
  -ms-grid-row: 11;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  grid-area: ele19;
}

/* SUSHIPIZZA*/
.sushigrid {
  min-height: 100px;
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (24%)[4];
      grid-template-columns: repeat(4, 24%);
  -ms-grid-rows: (350px)[2];
      grid-template-rows: repeat(2, 350px);
      grid-template-areas: "elee1 elee2 elee3 elee4" "elee1 elee2 elee3 elee4";
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  gap: 1rem;
}

.sushigrid__hijo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sushigrid__img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top center;
     object-position: top center;
}

.grids__hijo--1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: elee1;
}

.grids__hijo--2 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: elee2;
}

.grids__hijo--3 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  grid-area: elee3;
}

.grids__hijo--4 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 4;
  grid-area: elee4;
}

/* BARCO*/
.barcogrid {
  min-height: 100px;
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (48%)[2];
      grid-template-columns: repeat(2, 48%);
  -ms-grid-rows: (350px)[2];
      grid-template-rows: repeat(2, 350px);
      grid-template-areas: "item1 item2" "item1 item2";
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  gap: 1rem;
}

.barcogrid__hijo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.barcogrid__img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.gri__hijo--1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: item1;
}

.gri__hijo--2 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: item2;
}

/* EFECTO GALERIA -- ROLLS SUSHIPIZZA BARCO*/
.imagen-filtro {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.imagen-filtro:hover {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.ladoleftright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #EDF2F4;
  width: 100%;
  height: 85vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ladoleft {
  width: 50%;
  padding: 100px;
}

.ladoleft__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.ladoright {
  width: 50%;
  padding: 100px;
}

.secc_imagen {
  width: 100%;
  height: 65vh;
}

.imagen {
  width: 100%;
  height: 65vh;
  -o-object-fit: cover;
     object-fit: cover;
}
/*# sourceMappingURL=style.css.map */